@model IEnumerable<Employee_Management_System.Data.Employee>

@{
    ViewData["Title"] = "Index";
    var successMessage = TempData["SuccessMessage"];
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-12 text-right">
        <form method="get" asp-action="Index" class="d-inline-block">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by Employee Name" name="searchTerm" value="@ViewContext.HttpContext.Request.Query["searchTerm"]" />
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Position)</th>
            <th>@Html.DisplayNameFor(model => model.JoiningDate)</th>
            <th>@Html.DisplayNameFor(model => model.Department.DepartmentName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Position)</td>
                <td>@Html.DisplayFor(modelItem => item.JoiningDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (successMessage != null)
{
    <script>
        console.log('Success message received!');
        Swal.fire({
            icon: 'success',
            title: 'Deleted!',
            text: '@successMessage',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}
